#services {
  .services__flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .service__item {
    margin-bottom: 20px;
  }

  .service__name {
    font-size: 1.3rem;
  }
}
